@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: kumbh sans;
}


    /* NAV-START */
nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.menu-wrapper {
    display: flex;
    gap: 50px;

}

.menu {
    display: flex;
    gap: 34px;
}

.menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-size: 15px;
}

.nav-right-wrapper .cart {
    width: 22px;
}

.nav-right-wrapper .avatar {
    width: 45px;
} 

.nav-right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
    /* NAV-END */


    /* MAIN-START */
.product-wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex; 
}

.product-img-wrapper {
    width: 50%;
    padding: 90px 55px 35px 35px;
}

.main-img {
    height: 445px;
    width: 445px;
}

.main-img img {
    width: 100%;
    border-radius: 15px;
}


.thrumbnail-wrapper {
    display: flex;
    width: 445px;
    justify-content: space-between;
    gap: 5px;
    padding-top: 35px;
}

.thrumbnail-img {
    height: 88px;
    width: 88px;
}

.thrumbnail-img img {
    width: 100%;
    border-radius: 10px;
}



.product-details-wrapper {
    padding: 90px 40px 40px 55px;
    width: 50%;
}

.Sneaker-Company {
    color: #ff7e1b;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.product-details h1 {
    color: #1d2026;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 35px;
}

.para-details {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.568);
    margin-bottom: 23px;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.price p {
    font-size: 28px ;
    font-weight: 700;
    padding-right: 20px;
}

.price button {
    border: none;
    padding: 7px 8px 5px 8px;
    font-size: 16px;
    font-weight: 700;
    color: #FF7E1B;
    background-color: #FFEEE2;
    border-radius: 7px;
}

.product-details s {
    font-size: 17px;
    opacity: 0.3;
    font-weight: 700;
}

.product-details {
    margin-bottom: 35px;
}

.first-button {
    height: 58px;
    width: 30%;
    background-color: #e4e9f5b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
}

.first-button img {
    
}

.button-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-button {
    width: 60%;
    height: 58px;
    background-color: #FF7E1B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-weight: 700;
}

.second-button i {
    font-size: 19px;
}

/* MAIN-END */


